<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    
    <link href="static/bootstrap.min.css"  rel="stylesheet"  >
    <script src="static/bootstrap.bundle.min.js"></script>
    <script src="static/jquery-3.6.4.min.js"></script>


</head>

<style>
    .btn-custom {
  padding: 30px;
  font-size: 150px;
}
</style>
<body>

<nav class="navbar bg-body-tertiary">
  <form class="container-fluid justify-content-start">

    <button class="btn  btn-danger" onclick="cierra()" type="button">Cierra</button>
    <button class="btn  btn-success"  onclick="abre()" type="button">Abre</button>
  </form>
</nav>
    <main>
   

      
          <div class="d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
            <button class="btn btn-custom btn-primary" id="toglebutton" onclick="toggle()">Abre</button>
      
         <div class="row">
            <div class="col-md-6">
                
                <span id="sw22"  class="badge text-bg-primary" >Abierto</span>
            </div>
            <div class="col-md-6">
                
                <span id="sw10" class="badge text-bg-primary">Cerrado</span>
            </div>
         </div>
      </div>
      
      
      
           

         

 
      </main>


</body>
</html>

<script>
    function toggle(){
        $("#toglebutton").prop("disabled",true)
        $.get("/api/toggle",function(data){
            console.log(data)
            $("#toglebutton").prop("disabled",false)
        })
    }
    function abre(){
      
        $("#toglebutton").prop("disabled",true)
        $.get("/api/open",function(data){
            console.log(data)
            $("#toglebutton").prop("disabled",false)
        })
    }
    function cierra(){
        $("#toglebutton").prop("disabled",true)
        $.get("/api/close",function(data){
            console.log(data)
            $("#toglebutton").prop("disabled",false)
        })
    }

    function offstate(sw){
        
        $("#sw"+sw).removeClass("text-bg-secondary").addClass("text-bg-success")
       
    }
    function onstate(sw){
        $("#sw"+sw).removeClass("text-bg-success").addClass("text-bg-primary")
       
    }
    /*
    setInterval(function () {
        
        $.get("/api/pin/state/10",function(data){
            if (data ===  "False"){
                onstate("10")
            }else{
                offstate("10")
            }

        })
        
        $.get("/api/pin/state/22",function(data){
            if (data ===  "False"){
                onstate("22")
            }else{
                offstate("22")
            }
        })

    }, 5000);
    */

</script>
